@import "./utils/variables";

* {
    box-sizing: content-box;
}

header {
    display: flex;
    justify-content: center;

    padding: 3%;

    img {
        height: $header-logo-height;
        width: $header-logo-width;
    }
}

.menu-header {
    justify-content:  flex-start;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2%;

    color: $black-1;
    background-color: $gray-1;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;

    background-color: $gray-2;

    text-align: center;

    h2 {
        margin: 0;
    }

    button {
        width: 80%;

        border: 0;
        border-radius: 40px 40px 40px 40px;
        padding: 4%;

        background: linear-gradient($magenta-1, $purple-1);
        color: white;

        font-size: 110%;
    }
}

.howto h2 {
    margin-left: 40px;
}

.howto__list {
    .howto__list__item {
        display: flex;
        align-items: baseline;
        gap: 10%;

        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
        border-radius: 20px 20px 20px 20px;

        background-color: $gray-2;

        i {
            width: 10px;
            color: $gray-3;
        }

        &__number {
            border-radius: 50%;

            background-color: $purple-1;
            color: white;
        }

        &:nth-child(3) {
            background-color: $gray-4;

            i {
                color: $purple-1;
            }
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;

    background-color: $gray-2;

    >h2 {
        margin-left: 40px;
    }

    &__list {
        &__item {
            color: black;
            text-decoration: none;
        }

        &__item figure img {
            width: 100%;
            height: 30vh;

            border-radius: 20px 20px 0 0;

            object-fit: cover;
            vertical-align: middle;
        }

        &__item figure figcaption {
            display: flex;
            align-items: center;
            justify-content: space-between;

            border-radius: 0 0 20px 20px;
            padding-left: 4%;
            padding-right: 4%;

            line-height: 90%;

            background-color: white;
        }

        &__item figure figcaption h3 {
            font-weight: normal;
        }

        &__item figure figcaption i {
            font-size: 150%;
            color: gray;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: $black-1;
    color: white;

    padding: 4%;

    img {
        width: 6rem;

        color: white;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding-left: 0;
        width: 100%;

        list-style-type: none;
    }
    
    nav ul li {
        line-height: 180%;
    }

    nav ul li i {
        width: 4%;
    }
}
