@import "./base";
@import "./typography";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/home";
@import "./pages/menu";

@import "./components/restaurant";
@import "./components/dish";