footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: $black-1;
    color: white;

    padding: 4%;

    img {
        width: 10rem;

        color: white;
    }

    nav {
      width: 100%;

      ul {
          padding-left: 0;
          width: 100%;

          list-style-type: none;
      }
      
      ul li {
          line-height: 180%;
      }

      ul li i {
          width: 4%;
          padding-right: 10px;
      }

      ul li a {
          color: unset;
          text-decoration: unset;
      }

    } 
}

@media (min-width: $large_screens_breakpoint) {
    footer {
        justify-content: center;
        align-items: center;

        nav {
            width: unset;
        }
    }    
}