.site-header {
    display: flex;
    justify-content: center;

    padding: 3%;

    img {
        height: $header-logo-height;
        width: $header-logo-width;

        color: black;
    }
}

.menu-header {
    justify-content: flex-start;
    align-items: center;
    gap: 30%;

}