.site-header {
    display: flex;
    justify-content: center;

    padding: 2%;

    img {
        width: 200px;  
        color: black;
    }
}

.menu-header {
    justify-content: flex-start;
    align-items: center;

    a {
        font-size: 150%;
        color: black;
    }

    a:active {
        color: black;
    }

    img {
        margin: auto;
    }
}