* {
  box-sizing: content-box;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: Shrikhand;
  src: url("../fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  font-family: Roboto;
}

.site-header {
  display: flex;
  justify-content: center;
  padding: 3%;
}
.site-header img {
  height: 30%;
  width: 30%;
}

.menu-header {
  justify-content: flex-start;
  align-items: center;
  gap: 30%;
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2%;
  color: #353535;
  background-color: #eaeaea;
}

.menu-cover {
  margin: 0;
  height: 150%;
}
.menu-cover img {
  display: block;
  width: 100%;
  height: 40%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  color: white;
  padding: 4%;
}
footer img {
  width: 6rem;
  color: white;
}
footer nav {
  width: 100%;
}
footer nav ul {
  padding-left: 0;
  width: 100%;
  list-style-type: none;
}
footer nav ul li {
  line-height: 180%;
}
footer nav ul li i {
  width: 4%;
  padding-right: 10px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 25%;
  padding-right: 25%;
  background-color: #f6f6f6;
  text-align: center;
}
.introduction h2 {
  margin: 0;
}
.introduction button {
  width: 80%;
  border: 0;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 2px #7e7e7e;
  padding: 4%;
  background: linear-gradient(0.25turn, #FF79DA, #9356DC);
  color: white;
  font-size: 110%;
  transition: all 200ms;
}
.introduction button:hover {
  background: linear-gradient(#ff83dd, #985ede);
  box-shadow: 0px 0px 8px #7e7e7e;
  cursor: pointer;
}

.howto h2 {
  margin-left: 40px;
}

.howto__list .howto__list__item {
  display: flex;
  align-items: baseline;
  gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 20px 20px 20px 20px;
  background-color: #f6f6f6;
}
.howto__list .howto__list__item i {
  width: 10px;
  color: #7e7e7e;
}
.howto__list .howto__list__item__number {
  margin-left: -10px;
  border-radius: 50%;
  padding: 1%;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #9356dc;
  color: white;
}
.howto__list .howto__list__item:nth-child(3) {
  background-color: #f5edff;
}
.howto__list .howto__list__item:nth-child(3) i {
  color: #9356dc;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-bottom: 15%;
  background-color: #f6f6f6;
}
.restaurants > h2 {
  margin-left: 40px;
}
.restaurants__list__item {
  color: black;
  text-decoration: none;
}
.restaurants__list__item figure img {
  width: 100%;
  height: 30vh;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
}
.restaurants__list__item figure figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 90%;
  background-color: white;
}
.restaurants__list__item figure figcaption h3 {
  font-weight: normal;
}
.restaurants__list__item figure figcaption i {
  font-size: 150%;
  color: gray;
}
.restaurants__list .fas.fa-heart {
  opacity: 0;
  transition: opacity 0s;
}
.restaurants__list .fa-stack:hover .far.fa-heart {
  display: none;
}
.restaurants__list .fa-stack:hover .fas.fa-heart {
  opacity: 1;
  color: #9356dc;
  transition: opacity 0.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu__section__item {
  opacity: 0;
}

.menu__section__item:nth-of-type(1) {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu__section__item {
  opacity: 0;
}

.menu__section__item:nth-of-type(2) {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu__section__item {
  opacity: 0;
}

.menu__section__item:nth-of-type(3) {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #f6f6f6;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu__header h2 {
  font-family: Shrikhand;
}
.menu__section__header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.menu__section__header h3 {
  width: 40px;
  padding-bottom: 20%;
  border-bottom: 3px solid #99e2d0;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: normal;
}
.menu__section__item {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding-left: 2%;
  padding-right: 4%;
}
.menu__section__item h4 {
  margin-bottom: 0;
  padding-top: 2%;
}
.menu__section__item div {
  display: flex;
  justify-content: space-between;
  line-height: 0;
}
.menu__section__item__price {
  font-weight: bold;
}
.menu__button-area {
  display: flex;
  justify-content: center;
  padding: 12%;
}
.menu__button-area button {
  width: 50%;
  border: 0;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 2px #7e7e7e;
  padding: 4%;
  background: linear-gradient(0.25turn, #FF79DA, #9356DC);
  color: white;
  font-size: 110%;
  transition: all 200ms;
}
.menu__button-area button:hover {
  background: linear-gradient(#ff83dd, #985ede);
  box-shadow: 0px 0px 8px #7e7e7e;
  cursor: pointer;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3MvX2Jhc2Uuc2NzcyIsInN0eWxlcy5jc3MiLCIuLi8uLi9zYXNzL190eXBvZ3JhcGh5LnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9faGVhZGVyLnNjc3MiLCIuLi8uLi9zYXNzL3V0aWxzL192YXJpYWJsZXMuc2NzcyIsIi4uLy4uL3Nhc3MvbGF5b3V0L19mb290ZXIuc2NzcyIsIi4uLy4uL3Nhc3MvcGFnZXMvX2hvbWUuc2NzcyIsIi4uLy4uL3Nhc3MvdXRpbHMvX21peGlucy5zY3NzIiwiLi4vLi4vc2Fzcy9wYWdlcy9fbWVudS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsdUJBQUE7QUNDRjs7QURFQTtFQUNJLG9CQUFBO0tBQUEsaUJBQUE7QUNDSjs7QUNOQTtFQUNJLHNCQUFBO0VBQ0EsMENBQUE7QURTSjtBQ05BO0VBQ0ksbUJBQUE7RUFDQSx1Q0FBQTtBRFFKO0FDTEE7RUFDSSxtQkFBQTtBRE9KOztBRWxCQTtFQUNJLGFBQUE7RUFDQSx1QkFBQTtFQUVBLFdBQUE7QUZvQko7QUVsQkk7RUFDSSxXQ1BhO0VEUWIsVUNQWTtBSDJCcEI7O0FFaEJBO0VBQ0ksMkJBQUE7RUFDQSxtQkFBQTtFQUNBLFFBQUE7QUZtQko7O0FFZkE7RUFDSSxhQUFBO0VBQ0EsdUJBQUE7RUFDQSxxQkFBQTtFQUNBLE9BQUE7RUFFQSxjQ2ZNO0VEZ0JOLHlCQ3JCSztBSHNDVDs7QUVkQTtFQUNJLFNBQUE7RUFFQSxZQUFBO0FGZ0JKO0FFZEk7RUFDSSxjQUFBO0VBRUEsV0FBQTtFQUNBLFdBQUE7QUZlUjs7QUlyREE7RUFDSSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSx1QkFBQTtFQUVBLHlCREtNO0VDSk4sWUFBQTtFQUVBLFdBQUE7QUpzREo7QUlwREk7RUFDSSxXQUFBO0VBRUEsWUFBQTtBSnFEUjtBSWxESTtFQUNFLFdBQUE7QUpvRE47QUlsRE07RUFDSSxlQUFBO0VBQ0EsV0FBQTtFQUVBLHFCQUFBO0FKbURWO0FJaERNO0VBQ0ksaUJBQUE7QUprRFY7QUkvQ007RUFDSSxTQUFBO0VBQ0EsbUJBQUE7QUppRFY7O0FLakZBO0VBQ0ksYUFBQTtFQUNBLHNCQUFBO0VBQ0EsbUJBQUE7RUFFQSxlQUFBO0VBQ0EsbUJBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBRUEseUJGSks7RUVNTCxrQkFBQTtBTGlGSjtBSy9FSTtFQUNJLFNBQUE7QUxpRlI7QUs5RUk7RUFDSSxVQUFBO0VDZkosU0FBQTtFQUNBLGtDQUFBO0VBQ0EsK0JBQUE7RUFDQSxXQUFBO0VBRUEsdURBQUE7RUFDQSxZQUFBO0VBRUEsZUFBQTtFQUVBLHFCQUFBO0FONkZKO0FNMUZJO0VBQ0ksNkNBQUE7RUFDQSwrQkFBQTtFQUVBLGVBQUE7QU4yRlI7O0FLdkZBO0VBQ0ksaUJBQUE7QUwwRko7O0FLdEZJO0VBQ0ksYUFBQTtFQUNBLHFCQUFBO0VBQ0EsUUFBQTtFQUVBLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxpQkFBQTtFQUNBLGNBQUE7RUFDQSxrQ0FBQTtFQUVBLHlCRm5DQztBSDBIVDtBS3JGUTtFQUNJLFdBQUE7RUFDQSxjRnRDSDtBSDZIVDtBS3BGUTtFQUNJLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUVBLHlCRnpDRDtFRTBDQyxZQUFBO0FMcUZaO0FLbEZRO0VBQ0kseUJGcERIO0FId0lUO0FLbEZZO0VBQ0ksY0ZqREw7QUhxSVg7O0FLOUVBO0VBQ0ksYUFBQTtFQUNBLHNCQUFBO0VBRUEsbUJBQUE7RUFFQSx5QkZyRUs7QUhvSlQ7QUs3RUk7RUFDSSxpQkFBQTtBTCtFUjtBSzNFUTtFQUNJLFlBQUE7RUFDQSxxQkFBQTtBTDZFWjtBSzFFUTtFQUNJLFdBQUE7RUFDQSxZQUFBO0VBRUEsNEJBQUE7RUFFQSxzQkFBQTtBTDBFWjtBS3ZFUTtFQUNJLGFBQUE7RUFDQSxtQkFBQTtFQUNBLDhCQUFBO0VBRUEsNEJBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0VBRUEsZ0JBQUE7RUFFQSx1QkFBQTtBTHNFWjtBS25FUTtFQUNJLG1CQUFBO0FMcUVaO0FLbEVRO0VBQ0ksZUFBQTtFQUNBLFdBQUE7QUxvRVo7QUtqRVE7RUFDSSxVQUFBO0VBRUEsc0JBQUE7QUxrRVo7QUs5RFk7RUFDSSxhQUFBO0FMZ0VoQjtBSzlEWTtFQUNJLFVBQUE7RUFDQSxjRnJITDtFRXVISyx3QkFBQTtBTCtEaEI7O0FPcE1BO0VBQ0k7SUFDSSxVQUFBO0VQdU1OO0VPck1FO0lBQ0ksVUFBQTtFUHVNTjtBQUNGOztBTzdNQTtFQUNJO0lBQ0ksVUFBQTtFUHVNTjtFT3JNRTtJQUNJLFVBQUE7RVB1TU47QUFDRjtBT2xNSTtFQUNJLFVBQUE7QVBvTVI7O0FPbE1JO0VBQ0ksOEJBQUE7VUFBQSxzQkFBQTtFQUNBLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSw4QkFBQTtVQUFBLHNCQUFBO0VBQ0EscUNBQUE7VUFBQSw2QkFBQTtBUHFNUjs7QU81TUk7RUFDSSxVQUFBO0FQK01SOztBTzdNSTtFQUNJLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSw4QkFBQTtVQUFBLHNCQUFBO0VBQ0EsOEJBQUE7VUFBQSxzQkFBQTtFQUNBLHFDQUFBO1VBQUEsNkJBQUE7QVBnTlI7O0FPdk5JO0VBQ0ksVUFBQTtBUDBOUjs7QU94Tkk7RUFDSSw4QkFBQTtVQUFBLHNCQUFBO0VBQ0EsOEJBQUE7VUFBQSxzQkFBQTtFQUNBLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSxxQ0FBQTtVQUFBLDZCQUFBO0FQMk5SOztBT3ZOQTtFQUNJLGdCQUFBO0VBQ0EsaUJBQUE7RUFFQSx5QkpwQks7QUg2T1Q7QU92Tkk7RUFDSSxhQUFBO0VBQ0EsOEJBQUE7RUFDQSxxQkFBQTtBUHlOUjtBT3ZOUTtFQUNJLHNCQUFBO0FQeU5aO0FPck5JO0VBQ0ksMEJBQUE7RUFBQSx1QkFBQTtFQUFBLGtCQUFBO0FQdU5SO0FPck5RO0VBQ0ksV0FBQTtFQUVBLG1CQUFBO0VBQ0EsZ0NBQUE7RUFFQSx5QkFBQTtFQUNBLGNBQUE7RUFDQSxtQkFBQTtBUHFOWjtBT2pOSTtFQUNJLHVCQUFBO0VBRUEsa0NBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0FQa05SO0FPaE5RO0VBQ0ksZ0JBQUE7RUFDQSxlQUFBO0FQa05aO0FPL01RO0VBQ0ksYUFBQTtFQUNBLDhCQUFBO0VBRUEsY0FBQTtBUGdOWjtBTzdNUTtFQUNJLGlCQUFBO0FQK01aO0FPM01JO0VBQ0ksYUFBQTtFQUNBLHVCQUFBO0VBRUEsWUFBQTtBUDRNUjtBTzFNUTtFQUNJLFVBQUE7RURoRlIsU0FBQTtFQUNBLGtDQUFBO0VBQ0EsK0JBQUE7RUFDQSxXQUFBO0VBRUEsdURBQUE7RUFDQSxZQUFBO0VBRUEsZUFBQTtFQUVBLHFCQUFBO0FOMFJKO0FNdlJJO0VBQ0ksNkNBQUE7RUFDQSwrQkFBQTtFQUVBLGVBQUE7QU53UlIiLCJmaWxlIjoic3R5bGVzLmNzcyJ9 */