* {
  box-sizing: content-box;
}

img {
  object-fit: cover;
}

@font-face {
  font-family: Shrikhand;
  src: url("../fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  font-family: Roboto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(-360deg) scale(1);
  }
}
.site-header {
  display: flex;
  justify-content: center;
  padding: 3%;
}
.site-header img {
  height: 30%;
  width: 30%;
  color: black;
}

.menu-header {
  justify-content: flex-start;
  align-items: center;
  gap: 30%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  color: white;
  padding: 4%;
}
footer img {
  width: 6rem;
  color: white;
}
footer nav {
  width: 100%;
}
footer nav ul {
  padding-left: 0;
  width: 100%;
  list-style-type: none;
}
footer nav ul li {
  line-height: 180%;
}
footer nav ul li i {
  width: 4%;
  padding-right: 10px;
}

.loader ~ * {
  opacity: 0;
  animation: fadein 0.5s 1.5s forwards;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #eaeaea;
  border-top: 16px solid #353535;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 10;
  animation: spin 1.5s linear, fadeout 0s 1.5s forwards;
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2%;
  color: #353535;
  background-color: #eaeaea;
  font-size: 120%;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 25%;
  padding-right: 25%;
  background-color: #f6f6f6;
  text-align: center;
  line-height: 180%;
}
.introduction h2 {
  margin: 0;
  font-size: 200%;
}
.introduction p {
  font-size: 130%;
  color: #7e7e7e;
}
.introduction button {
  width: 80%;
  border: 0;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 2px #7e7e7e;
  padding: 4%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-size: 130%;
  transition: all 200ms;
}
.introduction button:hover {
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0px 0px 8px #7e7e7e;
  cursor: pointer;
}

.howto h2 {
  margin-left: 40px;
}

.howto__list .howto__list__item {
  display: flex;
  align-items: baseline;
  gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 20px 20px 20px 20px;
  background-color: #f6f6f6;
}
.howto__list .howto__list__item i {
  width: 10%;
  font-size: 160%;
  color: #7e7e7e;
}
.howto__list .howto__list__item__number {
  margin-left: -10px;
  border-radius: 50%;
  padding: 1%;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #9356dc;
  color: white;
}
.howto__list .howto__list__item:nth-child(3) {
  background-color: #f5edff;
}
.howto__list .howto__list__item:nth-child(3) i {
  color: #9356dc;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-bottom: 15%;
  background-color: #f6f6f6;
}
.restaurants > h2 {
  margin-left: 40px;
}

.menu__section__item {
  opacity: 0;
}

.menu__section__item:nth-of-type(1) {
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

.menu__section__item {
  opacity: 0;
}

.menu__section__item:nth-of-type(2) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.menu__section__item {
  opacity: 0;
}

.menu__section__item:nth-of-type(3) {
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.menu__section__item {
  opacity: 0;
}

.menu__section__item:nth-of-type(4) {
  animation-name: fadein;
  animation-duration: 4s;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}

.menu-page {
  background-color: #f6f6f6;
}

.menu-cover {
  margin: 0;
  height: 150%;
}
.menu-cover img {
  display: block;
  height: 50vh;
  width: 100%;
}

.menu {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -8vh;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 3%;
  font-size: 140%;
}
.menu__header h2 {
  font-family: Shrikhand;
}
.menu__header .fas.fa-heart {
  opacity: 0;
  transition: opacity 0s;
}
.menu__header .fa-stack:hover .far.fa-heart {
  display: none;
}
.menu__header .fa-stack:hover .fas.fa-heart {
  opacity: 1;
  color: #9356dc;
  transition: opacity 0.5s;
  cursor: pointer;
}
.menu__header i {
  font-size: 140%;
}
.menu__section__header {
  width: fit-content;
}
.menu__section__header h3 {
  width: 40px;
  padding-bottom: 20%;
  border-bottom: 3px solid #99e2d0;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: normal;
}
.menu__section__item {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding-left: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-around;
}
.menu__section__item h4 {
  margin-bottom: 0;
}
.menu__section__item__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.menu__section__item__description div {
  display: flex;
  justify-content: space-between;
}
.menu__section__item__description div p:not(.menu__section__item__price) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__section__item__price {
  font-weight: bold;
  padding-right: 5%;
}
.menu__section__item__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0px 10px 10px 0px;
  color: white;
  font-size: 140%;
  width: 0;
  transition: width 0.8s;
}
.menu__section__item__check i {
  opacity: 0;
  font-size: 150%;
  transition: opacity 0.6s;
}
.menu__section__item:hover .menu__section__item__check {
  width: 25%;
  opacity: 1;
}
.menu__section__item:hover .menu__section__item__check i {
  transition: opacity;
  animation: rotate 0.6s;
  opacity: 1;
}
.menu__button-area {
  display: flex;
  justify-content: center;
  padding: 12%;
}
.menu__button-area button {
  width: 50%;
  border: 0;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 2px #7e7e7e;
  padding: 4%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-size: 130%;
  transition: all 200ms;
}
.menu__button-area button:hover {
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0px 0px 8px #7e7e7e;
  cursor: pointer;
}

.restaurants__list__item {
  color: black;
  text-decoration: none;
}
.restaurants__list__item figure {
  position: relative;
}
.restaurants__list__item figure img {
  width: 100%;
  height: 30vh;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
}
.restaurants__list__item .new {
  background-color: #99e2d0;
  color: #008766;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  position: absolute;
  top: 0;
  right: 5vw;
  font-size: 1rem;
  font-weight: bold;
}
.restaurants__list__item figure figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 90%;
  background-color: white;
}
.restaurants__list__item figure figcaption h3 {
  font-weight: normal;
}
.restaurants__list__item figure figcaption i {
  font-size: 200%;
  color: gray;
}
.restaurants__list__item .fas.fa-heart {
  opacity: 0;
  transition: opacity 0s;
}
.restaurants__list__item .fa-stack:hover .far.fa-heart {
  display: none;
}
.restaurants__list__item .fa-stack:hover .fas.fa-heart {
  opacity: 1;
  color: #9356dc;
  transition: opacity 0.5s;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
