.menu__section__item {
    background-color: white;

    border-radius: 10px 10px 10px 10px;
    padding-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;

    width: 100%;

    display: flex;
    justify-content: space-around;

    h4 {
        margin-bottom: 0;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;

        div {
            display: flex;
            justify-content: space-between;

            p:not(.menu__section__item__price) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &__price {
        font-weight: bold;
        padding-right: 5%;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $green-1;
        border-radius: 0px 10px 10px 0px;
        
        color: white;
        font-size: 140%;

        width: 0;

        transition: width 0.8s;
        

        i {
            opacity: 0;
            font-size: 150%;

            transition: opacity 0.6s;
        }
    }

    &:hover {
        .menu__section__item__check {
            width: 25%;
            opacity: 1;

            i {
                transition: opacity;
                animation: rotate 0.6s;
                opacity: 1;
            }
        }
    }
}