.restaurants__list__item {
  color: black;
  text-decoration: none;

  figure {
    position: relative;
  }
  
  figure img {
    width: 100%;
    height: 30vh;

    border-radius: 20px 20px 0 0;

    vertical-align: middle;
  }

  .new {
    background-color: $green-1;
    color: $green-2;

    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;

    position: absolute;
    top: 0;
    right: 5vw;

    font-size: 1rem;
    font-weight: bold;
  }

  figure figcaption {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0 0 20px 20px;
    padding-left: 4%;
    padding-right: 4%;

    line-height: 90%;

    background-color: white;

    h3 {
      font-weight: normal;
    }

    i {
      font-size: 200%;
      color: gray;
    }
  }

  @include like;
}





