.loader ~  * {
    opacity: 0;
    animation: fadein 0.5s 1.5s forwards;
}

.loader {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 40%;
    margin-left: auto; 
    margin-right: auto; 

    border: 16px solid $gray-1;
    border-top: 16px solid $black-1;
    border-radius: 50%;

    width: 120px;
    height: 120px;

    animation: spin 1.5s linear, fadeout 0s 1.5s forwards, reduce-z-index 1.5s forwards;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2%;

    color: $black-1;
    background-color: $gray-1;

    font-size: 120%;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;

    background-color: $gray-2;

    text-align: center;

    line-height: 180%;

    h2 {
        margin: 0;
        
        font-size: 200%;
    }

    p {
        font-size: 130%;
        color: $gray-3;
    }

    button {
        width: 80%;

        @include button;
    }
}

.howto h2 {
    margin-left: 40px;
}

.howto__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .howto__list__item {
        display: flex;
        align-items: baseline;
        gap: 10%;
        width: 80%;

        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
        border-radius: 20px 20px 20px 20px;

        background-color: $gray-2;

        i {
            width: 10%;
            font-size: 160%;
            color: $gray-3;
        }

        &__number {
            margin-left: -10px;
            border-radius: 50%;
            padding: 1%;
            padding-right: 10px;
            padding-left: 10px;

            background-color: $purple-1;
            color: white;
        }

        transition: background-color 0.3s;

        &:hover {
            background-color: $gray-4;
            cursor: pointer;

            i {
                color: $purple-1;
            }
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;

    padding-bottom: 15%;

    background-color: $gray-2;

    >h2 {
        margin-left: 40px;
    }
}

@media (min-width: $large_screens_breakpoint) {
    .introduction {
        button {
            width: unset;  
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 3%;
            padding-right: 3%;
        }
    }

    .howto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            align-self: center;
        }

        div {
            width: 33vw;
        }
    }

    .restaurants {
        padding-bottom: 2%;
    }

    .restaurants h2 {
        align-self: center;
    }

    .restaurants__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            flex: 1;
        }
    }
}
