.subheader {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2%;

    color: $black-1;
    background-color: $gray-1;

    font-size: 120%;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;

    background-color: $gray-2;

    text-align: center;

    line-height: 180%;

    h2 {
        margin: 0;
        
        font-size: 200%;
    }

    p {
        font-size: 130%;
        color: $gray-3;
    }

    button {
        width: 80%;

        @include button;
    }
}

.howto h2 {
    margin-left: 40px;
}

.howto__list {
    .howto__list__item {
        display: flex;
        align-items: baseline;
        gap: 10%;

        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
        border-radius: 20px 20px 20px 20px;

        background-color: $gray-2;

        i {
            width: 10%;
            font-size: 160%;
            color: $gray-3;
        }

        &__number {
            margin-left: -10px;
            border-radius: 50%;
            padding: 1%;
            padding-right: 10px;
            padding-left: 10px;

            background-color: $purple-1;
            color: white;
        }

        &:nth-child(3) {
            background-color: $gray-4;

            i {
                color: $purple-1;
            }
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;

    padding-bottom: 15%;

    background-color: $gray-2;

    >h2 {
        margin-left: 40px;
    }
}

