@for $i from 1 through 4 {
    .menu__section__item {
        opacity: 0;
    }
    .menu__section__item:nth-of-type(#{$i}) {
        animation-name: fadein;
        animation-duration: #{$i}s;
        animation-delay: #{$i * 100}ms;
        animation-fill-mode: forwards;
    }
}

.menu-page {
    background-color: $gray-2;
}

.menu-cover {
    margin: 0;

    height: 150%;

    img {
        display: block;

        height: 50vh;
        width: 100%;
    }
}

.menu {
    padding-left: 2%;
    padding-right: 2%;

    background-color: $gray-2;

    border-radius: 50px 50px 0 0;
    position: relative;
    top: -8vh;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        padding-top: 3%;


        font-size: 140%;


        h2 {
            font-family: Shrikhand;
        }

        @include like;

        i {
            font-size: 140%;
        }
    }

    &__section__header {
        width: fit-content;

        h3 {
            width: 40px;

            padding-bottom: 3%;
            border-bottom: 3px solid $green-1;

            text-transform: uppercase;
            font-size: 90%;
            font-weight: normal;
        }
    }

    &__button-area {
        display: flex;
        justify-content: center;

        padding: 12%;

        button {
            width: 50%;

            @include button;
        }
    }
}

@media (min-width: $large_screens_breakpoint) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5%;

        &__header {
            flex-basis: 100%;
            justify-content: center;
            gap: 5%;
        }

        &__section {
            flex: 1;
        }

        &__section__item:nth-child(3) {
            align-self: flex-start;
        }

        &__button-area {
            flex-basis: 100%;
            padding: 1%;

            button {
                width: unset;  
                padding-top: 1%;
                padding-bottom: 1%;
                padding-left: 3%;
                padding-right: 3%;
            }
        }
    }
}