@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reveal {
   from {
       clip-path: inset(0 0 0 100%);
   } 
   to {
       clip-path: inset(0 0 0 0);
   }
}

@keyframes rotate {
    from {
        transform: rotate( 0deg ) scale( 1 );
   } 
   to {
        transform: rotate( -360deg ) scale( 1 );
   }
   
}


@for $i from 1 through 4 {
    .menu__section__item {
        opacity: 0;
    }
    .menu__section__item:nth-of-type(#{$i}) {
        animation-name: fadein;
        animation-duration: #{$i}s;
        animation-delay: #{$i * 100}ms;
        animation-fill-mode: forwards;
    }
}

.menu-page {
    background-color: $gray-2;
}

.menu-cover {
    margin: 0;

    height: 150%;

    img {
        display: block;

        height: 50vh;
        width: 100%;
    }
}

.menu {
    padding-left: 2%;
    padding-right: 2%;

    background-color: $gray-2;

    border-radius: 50px 50px 0 0;
    position: relative;
    top: -8vh;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        padding-top: 3%;


        font-size: 140%;


        h2 {
            font-family: Shrikhand;
        }

        @include like;

        i {
            font-size: 140%;
        }
    }

    &__section__header {
        width: fit-content;

        h3 {
            width: 40px;

            padding-bottom: 20%;
            border-bottom: 3px solid $green-1;

            text-transform: uppercase;
            font-size: 90%;
            font-weight: normal;
        }
    }

    &__section__item {
        background-color: white;

        border-radius: 10px 10px 10px 10px;
        padding-left: 2%;
        margin-bottom: 2%;
        margin-right: 2%;

        display: flex;
        justify-content: space-around;

        h4 {
            margin-bottom: 0;
        }

        &__description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 100%;

            div {
                display: flex;
                justify-content: space-between;

                p:not(.menu__section__item__price) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        &__price {
            font-weight: bold;
            padding-right: 5%;
        }

        &__check {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $green-1;
            border-radius: 0px 10px 10px 0px;
            
            color: white;
            font-size: 140%;

            width: 0;

            transition: width 0.8s;
            

            i {
                opacity: 0;
                font-size: 150%;

                transition: opacity 0.6s;
            }
        }

        &:hover {
            .menu__section__item__check {
                width: 25%;
                opacity: 1;
                animation: reveal 0.6s;

                i {
                    transition: opacity;
                    animation: rotate 0.6s;
                    opacity: 1;
                }
            }
        }
    }

    &__button-area {
        display: flex;
        justify-content: center;

        padding: 12%;

        button {
            width: 50%;

            @include button;
        }
    }
}