@mixin button {
    $box-shadow-color: $gray-3;
    $hover-lighten-multiplier: 2%;

    border: 0;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0px 0px 2px $box-shadow-color;
    padding: 4%;

    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    color: white;

    font-size: 130%;

    transition: all 200ms;


    &:hover {
        background: linear-gradient(to bottom right, lighten($secondary-color, $hover-lighten-multiplier), lighten($primary-color, $hover-lighten-multiplier));
        box-shadow: 0px 0px 8px $box-shadow-color;

        cursor: pointer;
    }
}

@mixin like {
    .fas.fa-heart {
        opacity: 0;

        transition: opacity 0s;
    }

    .fa-stack:hover {

        .far.fa-heart {
            display: none;
        }

        .fas.fa-heart {
            opacity: 1;
            color: $purple-1;

            transition: opacity 0.5s;

            cursor: pointer;
        }
    }
}