// breakpoints 

$large_screens_breakpoint: 720px;

// colors

$gray-1: #eaeaea;
$gray-2: #f6f6f6;
$gray-3: #7e7e7e;
$gray-4: #f5edff;

$black-1: #353535;

$magenta-1: #c165db;

$purple-1: #9356dc;

$green-1: #99e2d0;
$green-2: #008766;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

